div.search {
	float: left;
	width: 210px;
	height: 31px;
	margin-top: 20px;
	text-align: center;
	background: url('../../../img/topbar.png') no-repeat;
	background-position: 0 -550px;
}

div.search input {
	background: none;
	border: none;
	margin-top: 6px;
	margin-left: 12px;
}

div.search input:focus {
	outline: none;
}