.header {
	width: 100%;
	height: 70px;
	background: url('../../img/topbar.png') repeat;
	background-position: 0 -80px;
}

.logo-link {
	color: #E6E6E6;
}

.header-content {
	min-width: 500px;
	max-width: 900px;
	height: 100%;
	margin: 0 auto;
}

